@{
    ViewData["Title"] = "Login/Registration";
}

@model csharpExam.Models.HomeModels

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand">Dojo Activity Center</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-sm-2">
                    <li class="nav-item active">
                        <p>Welcome, @ViewBag.thisUser.FirstName</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

<div class="container m-5">
    <table class="table table-dark">
        <thead class="thead-light">
            <tr>
                <th>Activity</th>
                <th>Date and Time</th>
                <th>Duration</th>
                <th>Event Coordinator</th>
                <th>No. of Participants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in ViewBag.AllActivities)
                {
                    <tr>
                        <td><a href="/activity/@a.ActivityId">@a.Title</a></td>
                        <td>@a.Date.ToString("M/d") @@ @a.Date.ToString("h:mmtt")</td>
                        <td>@a.Length @a.Time</td>
                        @if (ViewBag.userCoordinator != null)
                        {
                            @foreach (var c in ViewBag.userCoordinator)
                            {
                                @if (a.CoordinatorId == c.UserId)
                                {
                                    <td>@c.FirstName</td>
                                }
                            }
                        }
                        <td>@a.Participants.Count</td>
                        @if (a.CoordinatorId == ViewBag.ThisUser.UserId)
                        {
                            <td><a href="/delete/@a.ActivityId">Delete</a></td>
                        }
                        else
                        {
                            int user = 0;
                            @foreach (var u in a.Participants)
                            {
                                if (u.User.UserId == ViewBag.ThisUser.UserId)
                                {
                                    user = u.ParticipantId;
                                }
                            }
                            @if (user == 0)
                            {
                                <td><a href="/join/@a.ActivityId">Join</a></td>
                            }
                            else
                            {
                                <td><a href="/leave/@user">Leave</a></td>
                            }
                        }
                    </tr>
                }
        </tbody>
    </table>
    <a href="/new">Create New Activity</a>
</div>